.groupOfTwo {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.groupOfFour{
    display: flex;
    justify-content: space-around;
}

.groupOfOne{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    padding: 0 20px 5% 20px;
    align-items: center;
}

.all{
    display: flex;
    align-items: center;
}

.twoElements{
    display: flex;
    justify-content: space-around;
    width: 66%;
}

.singleElement{
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
    padding: 0 20px 5% 20px;
}

.oneGroup{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    padding: 0 20px 5% 0;
    align-items: center;
    margin-right: auto;
}


@media(max-width: 1145px){
    
    .groupOfFour{
        display: block;
    }

    .groupOfTwo{
        width: 100%
    }
}

@media(max-width: 400px){
    a h1{
        font-size: 11vw;
    }

    h3 {
        font-size: 8vw;
    }
}

@media(max-width: 370px){

    .groupOfFour{
        font-size: 4vw
    }
    a h1{
        font-size: 11vw;
    }

    h3 {
        font-size: 8vw;
    }
}

@media(max-width:730px){
    .all{
        display: block;
    }

    .twoElements{
        width: 96vw;
    }

    .singleElement{
        width:96vw;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
}
