

#welcomeTitle{
    font-size: 170%;
    padding: 50px 0 0 50px;
}

#textAndQuote{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 100%;
    align-items: center;
}

#text{
    width: calc(50vw - 50px);
    font-size: 120%;
}

#quote{
    margin-left: auto;
    margin-right: auto;
}

#quote p{
    width: 30vw;
    padding-bottom: 20px;
}

#quoteTitle, #quoteText{
    text-align: center;
}

#quoteTitle{
    font-size: 200%;
}

@media(max-width: 1145px){
    #quote{
        display: none;
    }

    #text{
        width: 92vw;
        font-size: 120%;
        padding-bottom: 20px;
    }

    #textAndQuote{
        margin-left: 4vw;
        margin-right: 4vw;
    }


}
